<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.prac.lostfound">

    <!-- Required permissions for using the device's location and internet -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lostfound"
        tools:targetApi="31">

        <!-- Correct metadata for Google Maps API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC3_HLYla5BTleM0Fu-vCeTrW8b_EY9_iE" />


        <!-- Add the activities for your app -->
        <activity android:name=".ItemDetailActivity" />
        <activity android:name=".ViewItemsActivity" />
        <activity android:name=".CreateAdvertActivity" />  <!-- Add this line -->

        <!-- Main activity (launcher activity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MapsActivity (add this line if you're using Google Maps) -->
        <activity android:name=".MapsActivity" />
    </application>

</manifest>
